{% extends 'base/main.html' %}
{% block content %}
<div class="py-5">

    <form action="/createblog/" method="POST" autocomplete="on">
        {% csrf_token %}
        <input type="hidden" name="blog_post" value="blog post">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Blog Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
            <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}